# Electronya Embedded Services
# Copyright (C) 2025 by Electronya

config ENYA_EMBEDDED_SERVICES
  bool "Electronya Embedded Services"
  default y
  help
    The Electronya embedded services.
      - Service Manager
      - ADC Acquisition
      - Datastore
      - LED Strip

if ENYA_EMBEDDED_SERVICES

rsource "src/serviceCommon/Kconfig"
rsource "src/serviceManager/Kconfig"
rsource "src/adcAcquisition/Kconfig"
rsource "src/datastore/Kconfig"
rsource "src/ledStrip/Kconfig"
rsource "src/simhubDevice/Kconfig"

endif
